
body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color:white;
  }

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
   
  .cart{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #2ed573;
    color:white;
    padding: 10px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.5s;
  }
span {
  font-size:20px;
  font-weight:bold;

}
  
  div {
    margin: 20px;
    text-align: top;
    border: 1px solid  #73babb; 
    padding: 10px; 
  }
  
  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
    display: block; 
  }
  
  h2,h4 {
    margin: 0;
    color:#3f2a14;
  }
  
.abc button {
  background-color:red;
  border: none;
  color: white;
  padding: 0.5rem;
  cursor: pointer;
  }
  #cart {
  border: 1px solid #ccc;
  padding: 1rem;
  margin-top: 2rem;
  background-color:black;
  text-align: center;
  }
  #cart h2 {
  margin-top: 0;
  }
  #cart-items {
  list-style: none;
  padding: 0;
  margin: 0;
  }
  
 